#navbar{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  position: fixed;
  top:0;
  right:0;
  width: 100%;
}

#red{
  float: right;
  padding-top: 40px;
  padding-right: 40px;
}

#pokemon-grid{
  display: grid;
  grid-template: 300px 300px/ 300px 300px 300px;
  grid-gap: 10px;
  margin-left: 40px;
}

#pokemon-grid img{
  margin-top: 50px;
}
